*.html linguist-vendored
/src/web/assets/ckeditorpasteplain/** export-ignore
/src/web/assets/ckeditorpasteplain/dist/ -export-ignore
/src/web/assets/ckeditorpasteplain/dist/browser/ -export-ignore
/src/web/assets/ckeditorpasteplain/dist/browser/index.es.js -export-ignore
/src/web/assets/ckeditorpasteplain/CKEditorPastePlainAsset.php -export-ignore
