*.html linguist-vendored
/src/web/assets/ckeditorpasteplain/** export-ignore
/src/web/assets/ckeditorpasteplain/build/ -export-ignore
/src/web/assets/ckeditorpasteplain/build/** -export-ignore
/src/web/assets/ckeditorpasteplain/CKEditorPastePlainAsset.php -export-ignore
